<div class="container">
    <h2>Create</h2>
    <form ng-controller="contactCreateController as vm" ng-submit="vm.create()">
        <br />
        <input type="text" class="form-control" ng-model="vm.contact.FirstName" placeholder="first name" required pattern="[A-Za-z]+" title="First name can only consist of letters." />
        <br />
        <br />
        <input type="text" class="form-control" ng-model="vm.contact.LastName" placeholder="last name" required pattern="[A-Za-z]+" title="Last name can only consist of letters." />
        <br />
        <br />
        <input type="text" class="form-control" ng-model="vm.contact.Email" placeholder="email" required pattern="^\S+@\S+$" title="Incorrect email." />
        <br />
        <br />
        <input type="text" class="form-control" ng-model="vm.contact.Phone" placeholder="phone" required pattern="\+?\d+" title="phone number is not valid" />
        <br /><br />
        <input type="submit" class="btn btn-success" value="Create" />
    </form>
</div>

