<div class="container">
    <table class="table" ng-controller="contactsController as vm">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr ng-repeat="item in vm.contacts">
            <td hidden>{{item.Id}}</td>
            <td>{{item.FirstName}}</td>
            <td>{{item.LastName}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.Phone}}</td>
            <td><a href="/edit/{{item.Id}}">Edit</a></td>
            <td><a href="#" ng-click="vm.remove(item)">Delete</a></td>
        </tr>
    </table>
</div>