
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create contact</h1>

<form>
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br>
    Email: <br>
    <input type="text" name="email">
    <br>
    Phone: <br>
    <input type="text" name="phone">
    <br><br>
    <input type="submit" value="Submit">
</form> 

