@model ContactsApp.Data.Models.Contact
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create contact</h1>
@using (Html.BeginForm())
{
<form method="post">
    First name:<br>
    <input type="text" name="firstname" value="" required pattern="[A-Za-z]+" title="First name can only consist of letters."/>
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="" required pattern="[A-Za-z]+" title="Last name can only consist of letters."/>
    <br>
    Email: <br>
    <input type="text" name="email" value="" required pattern="@Html.Raw(@"^\S+@\S+$")" title="Incorrect email."/>
    <br>
    Phone: <br>
    <input type="text" name="phone" value="" required pattern="\+?\d+" title="phone number is not valid"/>
    <br><br>
    <input type="submit" value="Submit" class="btn btn-default">
</form> 
}


@{
    
    if (IsPost)
    {
        Model.FirstName = Request.Form["firstname"];
        Model.LastName = Request.Form["lastname"];
        Model.Email = Request.Form["email"];
        Model.Phone = Request.Form["phone"];
    }
}

