@model Dictionary<int, ContactsApp.Models.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Value.FirstName</td>
            <td>@item.Value.LastName</td>
            <td>@item.Value.Email</td>
            <td>@item.Value.Phone</td>
        </tr>

    }
</table>
